body {
    background-color: #44414A;
    background-image: url("images/skulls.png");
    color: #56545c;
    cursor: url('images/eyecursor.cur'),auto;
}

.wrapper {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main {
    width: 800px;
    height: 500px;
    border: 10px solid transparent;
    padding: 10px;
    border-image: url(images/whitelace.png) 10 round;
    background-clip: padding-box; 
    background-color: #ECECEC;
}

.mainbox {
    background-color: #d9d9d9;
    border: 2px double transparent;
    width: 560px;
    height: 490px;
    margin-left: auto; 
    margin-right:auto;
    overflow: hidden;
    text-align: center;
}

.powerlines {
    position: absolute;
    top: 30%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: -3;
}
.side {
    background-color: #E1DAEC;
    border: 4px double #816EA2;
    width: 180px;
    height: 480px;
    float:left;
}

.imag {
    width: 150px;
    height: 150px;
    border: 4px double #816EA2;
    position: relative;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('images/koishiiconn.png');
    background-size: cover;
}

hr {
    height: 2px;
    color: grey;
    background: transparent;
    border-top: dashed;

}


a {
    color: #9059ff;
}