body {
    background-image: url('../images/mushroom_bg.png');
    background-repeat: repeat;
    background-attachment: fixed;
    color: black;
    cursor: url('../images/eyecursor.cur'),auto;
   filter: grayscale(40%);
}

.wrapper {
    margin: auto;
    width: 540px;
    height: 445px;
    border: 1px white solid;
    position: relative;
    top: 80px;
    
}
.choos {
    width: 530px;
    height: 50px;
    border: 4px black double;
    background-color: #323333;
    margin: auto;
    text-align: center;
    line-height: 0.3;
}
.the {
    width: 540px;
    height: 380px;
    border: 4px black double;
    background-color: #323333;
    margin: auto;
    top: 3px;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    
}
.shrins {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.back {
    width: 90px;
    height: 30px;
    border: 4px black double;
    background-color: #323333;
    padding-top: 3px;
    top: 5px;
    position: relative;
    text-align: center;
    margin: auto;
}
h1 {
   color: white;
   font-size: 30px;
   text-align: center;
}
a {
   color: #fcf2f5;
}

.image_off, #koish:hover .image_on{
   display:none
}
.image_on, #koish:hover .image_off{
   display:block
}

.image_off, #clar:hover .image_on{
   display:none
}
.image_on, #clar:hover .image_off{
   display:block
}

.image_off, #hrsw:hover .image_on{
   display:none
}
.image_on, #hrsw:hover .image_off{
   display:block
}

.image_off, #fran:hover .image_on{
   display:none
}
.image_on, #fran:hover .image_off{
   display:block
}

.image_off, #shim:hover .image_on{
   display:none
}
.image_on, #shim:hover .image_off{
   display:block
}
.image_off, #suba:hover .image_on{
   display:none
}
.image_on, #suba:hover .image_off{
   display:block
}