body {
	background-image: url('rdbg.jpg');
	color: #493538;
    animation: bgScroll 20s linear infinite;
}

      @keyframes bgScroll {
        0% {
          background-position : 0px 0px
        }
        100% {
          background-position : 0px -211px
        }
      }
	  
	  h1 {
    font-size: 18px;
	  }

a {
	color: #ffeff3;
}

	  hr {
    border-top: 2px dashed #ffd6fa;
	  }
	  
::selection {
	background: #DFD9D9;
}

.everything {
    transform: translateY(10%);
	margin: auto;
	width: 600px;
	height: 700px;
	border: 10px solid transparent;
	border-image: url('fadedlace.png') 17 round;
	border-image-outset: 10px 10px; 
	background-color: #493E3E;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.buttons {
	width: 175px;
	height: 50px;
	border: 4px double #151313;
	background-image: linear-gradient(#F1F1F1, #FAE8E8);
	padding: 5px;
	font-size: 35px;
	text-align: center;
	color: black;
	text-shadow: 3px 3px 3px black;
}

.mainbox {
	width: 600px;
	height: 605px;
	padding: 5px;
	border: 4px double #151313;
	background-image: linear-gradient(#F1F1F1, #FAE8E8);
	text-align: center;
	color: black;
	text-shadow: 3px 3px 5px #666161;
}