@font-face { 
    font-family: RM2000; src: url('../../RM2000.ttf'); 
} 
 
body {
    background-image: url('/images/skulls_bg2.jpg');
    background-size: 30%;
    background-repeat: repeat;
    background-attachment: fixed;
    color: white;
    font-family: RM2000;
}

.wrapper {
    position: absolute;
    left: 400px;
    top: 30px;
}

.mainimg { 
   border: 4px black double;
   background-image: url(../../images/graveyard3.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   width: 400px;
   height: 400px;
}

.infobox { 
   border: 4px black double;
   background-color: #2F3431;
   width: 200px;
   height: 400px;
   position:absolute;
   top: 0px;
   left: 410px;
}
.mainbox { 
   border: 4px black double;
   background-color: #2F3431;
   width: 610px;
   height: 400px;
   position:absolute;
   top: 410px;
   left: 0px;
}