.site-box {
    text-align: center;
    background-image: url(https://eye.nekoweb.org/pictures/orbeye_c.gif); 
    background-repeat: no-repeat;
    background-size: cover;
    border: 4px double black;
	box-shadow: 5px 5px 20px #141519 inset;
}
.site-box > a > p {
    color: #ffedf2;
    font-family: Times;
    background-color: black;
    display:inline;
    right: 0;
    bottom: 0;
}

.follow, .following {
    background-color: #594659;
    color: white;
    border: 1px black solid;
}

.site-box > a > span {
    color: #ffedf2;
    background-color: black;
    font-family: Times;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.site-box .sitefeature {
    opacity: 0;
  cursor: help;
}

.site-box .follow {
content: url(https://eye.nekoweb.org/images/eyespin.gif);
}

.site-box:hover {
  filter: saturate(150%);
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.site-box:hover:after {
        content: url(https://eye.nekoweb.org/pictures/sitebox_back.png);
        position: absolute;
        left: -30px;
        top: -30px;
        opacity: 1;
	animation: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
        z-index: 1;
        image-rendering: pixelated;
    
}

.post-box {
    border: 4px double black;
    background-image: linear-gradient(#55585C, #57626F);
	box-shadow: 5px 5px 20px #141519 inset;
	color: white;
}